.wellness__about {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 5rem;
    background-color: var(--color-secondary);
}

.wellness__about-headshot {
    width: 50rem;
}

.wellness__about-headshot img {
    clip-path: ellipse(40% 40% at 45% 50%);
    max-width: 100%;
    height: auto;
    margin: auto;
}

.wellness__about-text {
    width: 50rem;
    margin: auto;
}

.wellness__about-text p {
    color: var(--color-text);
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
}