.wellness__homeServicesLeft {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 5rem;
    height: 100%;
    background-color: var(--color-secondary);
}

.wellness__homeServicesLeft-noView {
    opacity: 0;
}

.wellness__homeServicesLeft-animation {
    animation-name: slidein;
    animation-duration: 1.3s;
}

.wellness__homeServicesLeft-img {
    width: 50rem;
}

.wellness__homeServicesLeft-img img {
    border-radius: 2rem;
    max-width: 100%;
    height: auto;
    max-height: 30rem;
    margin: auto;
}

.wellness__homeServicesLeft-text {
    width: 50rem;
    margin: auto 2rem;
}

.wellness__homeServicesLeft-text h1 {
    color: var(--color-text);
}

.wellness__homeServicesLeft-text p {
    font-size: 1.5rem;
}

@keyframes slidein {
    from {
        transform: translate3d(0,5rem,0);
        opacity: 0;
    }
    10% {
        transform: translate3d(0,5rem,0);
        opacity: 0;
    }
    to {
        transform: translate3d(0,0,0);
    }
}

@media screen and (max-width: 850px) {
    .wellness__homeServicesLeft-img {
        width: 35rem;
    }
    .wellness__homeServicesLeft-img img {
        max-height: 18rem;
    }
}

@media screen and (max-width: 850px) {
    .wellness__homeServicesLeft-img {
        width: 30rem;
    }
}

@media screen and (max-width: 700px) {
    .wellness__homeServicesLeft {
        flex-direction: column-reverse;
    }
    .wellness__homeServicesLeft-img {
        width: 100%;
    }
    .wellness__homeServicesLeft-img img {
        max-height: 20rem;
    }
    .wellness__homeServicesLeft-text {
        width: 100%;
        margin: auto;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .wellness__homeServicesLeft-img img {
        max-height: 17rem;
    }
    .wellness__homeServicesLeft-text p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {
    .wellness__homeServicesLeft {
        padding: 2rem 2rem;
    }
    .wellness__homeServicesLeft-img img {
        max-height: 15rem;
    }
    .wellness__homeServicesLeft-text h1 {
        font-size: 1.6rem;
    }
    .wellness__homeServicesLeft-text p {
        font-size: 1.1rem;
    }
}