.wellness__sauna {
    align-items: center;
    background-color: var(--color-secondary);
}

.wellness__sauna-header {
    background-image: url(../../assets/infrared_sauna.jpg);
    position: relative;
    /* background-position: top center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 80%;
    width: 100%;
    height: 50vh;
}

.wellness__sauna-header h1 {
    position: absolute;
    top: 40%;
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black;
    font-weight: 800;
    font-size: 3rem;
    color: var(--color-primary);
    align-items: center;
}

.wellness__sauna-info {
    padding: 2rem 10rem;
    width: 100%;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wellness__sauna-info p {
    color: black;
    font-size: 1.2rem;
}

.wellness__sauna-info h1 {
    font-size: 2rem;
    text-decoration: underline;
}

.wellness__sauna-info-costs {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-evenly;
}

.wellness__sauna-info-costs_left {
    text-align: left;
}

.wellness__sauna-info-costs_right {
    text-align: left;
}

.wellness__sauna-info-text {
    text-align: left;
}

.wellness__sauna-info-text h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
}

@supports (background-image: -webkit-image-set(url('../../assets/infrared_sauna.webp') 1x)) {
    .wellness__sauna-header {
        background-image: -webkit-image-set(
            url('../../assets/infrared_sauna.webp') 1x
        )
    }
}

@media screen and (max-width: 1200px) {
    .wellness__sauna-info {
        padding: 2rem 1.5rem;
    }
}

@media screen and (max-width: 950px) {
    .wellness__sauna-info-costs {
        flex-direction: column;
    }
    .wellness__sauna-info-costs_left {
        text-align: center;
    }
    .wellness__sauna-info-costs_right {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .wellness__sauna-info h1 {
        font-size: 1.6rem;
    }
    .wellness__sauna-info p {
        font-size: 1rem;
    }
}