.wellness__sauna {
    align-items: center;
    background-color: var(--color-secondary);
}

.wellness__sauna-header {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 80%;
    width: 100%;
    height: 50vh;
}

.wellness__sauna-header h1 {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black;
    font-weight: 800;
    font-size: 3rem;
    color: var(--color-primary);
    align-items: center;
}

.wellness__sauna-info {
    padding: 2rem 10rem;
    width: 100%;
    color: var(--color-text);
}

.wellness__sauna-info p {
    color: black;
    font-size: 1.2rem;
}

.wellness__sauna-info-promotion {
    width: auto;
    padding: 0.5rem;
}

.wellness__sauna-info-promotion h1 {
    font-size: 2rem;
}

.wellness__sauna-info-promotion h2 {
    font-size: 1.5rem;
}

.wellness__sauna-info-text {
    text-align: left;
}

.wellness__sauna-info-text h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
}
