.wellness__services {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wellness__services-header {
    padding: 2rem 0;
}

.wellness__services-header h1 {
    font-family: var(--font-logo);
    font-size: 2.5rem;
}

.wellness__services-services {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem 1rem;
    max-width: 80vw;
}

.wellness__services-services-iv {
    padding-top: 4rem;
}

.wellness__services-services-iv_body-content {
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.wellness__services-services-iv_body-content_header {
    display: flex;
    width: 100%;
}

.wellness__services-services-iv_body-content_header-left {
    width: 75%;
}

.wellness__services-services-iv_body-content_header-right {
    width: 25%;
    text-align: right;
}

.wellness__services-services-iv_body-content_footer {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.wellness__services-services-iv_body-content_footer-body {
    display: flex;
    width: 30rem;
}

.wellness__services-services-iv_body-content_footer-body_left {
    width: 50%;
}

.wellness__services-services-iv_body-content_footer-body_right {
    width: 50%;
}

@media screen and (max-width: 1050px) {
    .wellness__services-services {
        max-width: 90vw;
    }
}

@media screen and (max-width: 500px) {
    .wellness__services-header h1 {
        font-size: 2rem;
    }
    .wellness__services-services {
        max-width: 95vw;
    }
    .wellness__services-services h1 {
        font-size: 1.6rem;
    }
    .wellness__services-services-iv_body-content_footer-body {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .wellness__services-header h1 {
        font-size: 1.8rem;
    }
}