.wellness__coldplunge {
    align-items: center;
    background-color: var(--color-secondary);
}

.wellness__coldplunge-header {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 80%;
    width: 100%;
    height: 50vh;
}

.wellness__coldplunge-header h1 {
    position: absolute;
    top: 40%;
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black;
    font-weight: 800;
    font-size: 3rem;
    color: var(--color-primary);
    align-items: center;
}

.wellness__coldplunge-info {
    padding: 2rem 10rem;
    width: 100%;
    color: var(--color-text);
}

.wellness__coldplunge-info h1 {
    font-size: 2rem;
    text-decoration: underline;
}

.wellness__coldplunge-info p {
    color: black;
    font-size: 1.2rem;
}

.wellness__coldplunge-info-costs {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-evenly;
}

.wellness__coldplunge-info-costs_left {
    text-align: left;
}

.wellness__coldplunge-info-costs_right {
    text-align: left;
}

.wellness__coldplunge-info-text {
    padding-top: 1rem;
    text-align: left;
}

.wellness__coldplunge-info-text h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.wellness__coldplunge-info-text h4 {
    font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
    .wellness__coldplunge-header {
        background-position: 100%;
    }
    .wellness__coldplunge-info {
        padding: 2rem 5rem;
    }
}

@media screen and (max-width: 950px) {
    .wellness__coldplunge-info {
        padding: 2rem 2rem;
    }
    .wellness__coldplunge-info-costs {
        display: block;
        padding: 0.5rem 12rem;
    }
}

@media screen and (max-width: 900px) {
    .wellness__coldplunge-info-costs {
        padding: 0.5rem 7rem;
    }
}

@media screen and (max-width: 750px) {
    .wellness__coldplunge-info-costs {
        padding: 0.5rem 2.5rem;
    }
}

@media screen and (max-width: 600px) {
    .wellness__coldplunge-info-costs {
        padding: 0.5rem 0;
    }
}

@media screen and (max-width: 400px) {
    .wellness__coldplunge-info {
        padding: 2rem 1.5rem;
    }
    .wellness__coldplunge-info h1 {
        font-size: 1.6rem;
    }
    .wellness__coldplunge-info p {
        font-size: 1rem;
    }
    .wellness__coldplung-info h3 {
        font-size: 1.4rem;
    }
}