.wellness__iv {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.wellness__iv-header {
    background-image: url(../../assets/iv_therapy.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 80%;
    width: 100%;
    height: 50vh;
}

.wellness__iv-header h1 {
    position: absolute;
    top: 40%;
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black;
    font-weight: 800;
    font-size: 3rem;
    font-family: var(--font-logo);
    color: var(--color-primary);
    align-items: center;
}

.wellness__iv-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem 1rem;
    max-width: 80vw;
}

.wellness__iv-info_body-content {
    padding: 0.5rem;
    padding-bottom: 2rem;
}

.wellness__iv-info_body-content_footer {
    padding-top: 1.5rem;
}

.wellness__iv-info_body-content_footer-body {
    display: flex;
    width: 30rem;
}

.wellness__iv-info_body-content_footer-body_left {
    width: 50%;
}

.wellness__iv-info_body-content_footer-body_right {
    width: 50%;
}

.wellness__iv-info_book {
    text-align: center;
    padding-top: 2rem;
}

@supports (background-image: -webkit-image-set(url('../../assets/iv_therapy.webp') 1x)) {
    .wellness__iv-header {
        background-image: -webkit-image-set(
            url('../../assets/iv_therapy.webp') 1x
        )
    }
}

@media screen and (max-width: 1050px) {
    .wellness__iv-info {
        max-width: 90vw;
    }
}

@media screen and (max-width: 900px) {
    .wellness__iv-header {
        background-position: 100% 250%;
    }
}

@media screen and (max-width: 800px) {
    .wellness__iv-header {
        background-repeat: no-repeat space;
        background-position: -1rem -5rem;
    }
}

@media screen and (max-width: 500px) {
    .wellness__iv-header {
        background-position: -8rem -5rem;
    }
    .wellness__iv-info_body-content_footer-body {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .wellness__iv-header {
        background-position: -10rem -3rem;
    }
    .wellness__iv-header h1 {
        font-size: 2rem;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 300px) {
    .wellness__iv-header h1 {
        font-size: 1.9rem;
    }
}