.wellness__contact {
    background-color: var(--color-secondary);
}

.wellness__contact-header {
    padding: 2rem 6rem;
    margin: 0 3rem;
}

.wellness__contact-header h1 {
    color: var(--color-text);
    text-align: left;
    padding-bottom: 1rem;
}

.wellness__contact-header p {
    color: black;
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.wellness__contact-header-book a {
    border: var(--color-text) 0.2rem solid;
    padding: 0.5rem;
    color: var(--color-text);
    font-size: 1.5rem;
}

.wellness__contact-info {
    display: flex;
    height: 40rem;
}

.wellness__contact-info-map {
    width: 50%;
    margin: 2rem;
    padding-left: 7rem;
}

.wellness__contact-info-text {
    width: 50%;
    margin: auto;
    padding-left: 1rem;
    text-align: left;
}

.wellness__contact-info-text p {
    font-size: 1.5rem;
    padding: 0.5rem;
}