.wellness__contact_header {
    padding: 2rem 6rem;
    background-color: var(--color-secondary);
}

.wellness__contact_header h1 {
    color: var(--color-text);
    text-align: left;
    padding-bottom: 1rem;
}

.wellness__contact_header p {
    color: black;
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.wellness__contact_header-book a {
    border: var(--color-text) 0.2rem solid;
    padding: 0.5rem;
    color: var(--color-text);
    font-size: 1.5rem;
}

.wellness__contact_header-info {
    display: flex;
    background-color: var(--color-tertiary);
    height: 40rem;
}

.wellness__contact_header-info_map {
    width: 60%;
    margin: 2rem 15rem;
}

.wellness__contact_header-info_text {
    width: 40%;
    margin: auto;
    padding-right: 2rem;
    text-align: left;
}

.wellness__contact_header-info_text p {
    font-size: 1.5rem;
    padding: 0.5rem;
}