@font-face {
  font-family: "MarcellusSC";
  src: local("MarcellusSC-Regular"),
    url("./fonts/MarcellusSC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-VariableFont_wght"),
    url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

:root {
  --font-family: 'Raleway', sans-serif;
  --font-logo: 'MarcellusSC', serif;
  
  --color-primary: #FFFFFF;
  --color-secondary: #1051A6E8;
  --color-tertiary: #78CAD2;
  --color-navbar: #FFFFFF;
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042C54;
  --color-text: #000000;
  --color-heading: #FFFFFF;
}