.wellness__header {
    display: flex;
}

.wellness__header-bg {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    width: 100%;
    height: 95vh;
}

.wellness__header-text {
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black;
    font-weight: 800;
    color: white;
}

.wellness__header-text_h1 {
    font-family: var(--font-logo);
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
    font-size: 3.8rem;
}

.wellness__header-text_h3 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45%;
    font-size: 1.9rem;
    padding: 0 1rem;
}

@media screen and (max-width: 900px) {
    .wellness__header-text_h1 {
        font-size: 3rem;
    }
    .wellness__header-text_h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .wellness__header-text_h1 {
        font-size: 2.8rem;
        padding: 0 1rem;
    }
    .wellness__header-text_h3 {
        font-size: 1.3rem;
        top: 50%;
    }
}

@media screen and (max-width: 400px) {
    .wellness__header-text_h1 {
        font-size: 2.5rem;
    }
    .wellness__header-text_h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 350px) {
    .wellness__header-text_h1 {
        font-size: 1.9rem;
    }
}