.wellness__header {
    display: flex;
}

.wellness__header-bg {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    width: 100%;
    height: 95vh;
}

.wellness__header-text {
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black, 1px 1px 4px black;
    font-weight: 800;
    color: white;
}

.wellness__header-text_h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
    font-size: 3rem;
}

.wellness__header-text_h3 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45%;
    font-size: 2rem;
}