.wellness__footer-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color-primary);
    font-size: 1.5rem;
}

.wellness__footer-icons a {
    padding: 0.5rem 0.5rem;
}

.wellness__footer-copyright {
    width: 100%;
    padding-bottom: 1rem;
    color: var(--color-primary);
}

@media screen and (max-width: 400px) {
    .wellness__footer-copyright {
        padding: 0 1rem;
    }
}