.wellness__homeServicesRight {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 5rem;
    height: 100%;
    background-color: var(--color-primary);
}

.wellness__homeServicesRight-noView {
    opacity: 0;
}

.wellness__homeServicesRight-animation {
    animation-name: slidein;
    animation-duration: 1.3s;
}

.wellness__homeServicesRight-text {
    width: 50rem;
    margin: auto 2rem;
}

.wellness__homeServicesRight-text_subheading {
    font-size: 1.5rem;
}

.wellness__homeServicesRight-img {
    width: 50rem;
}

.wellness__homeServicesRight-img img {
    border-radius: 2rem;
    max-width: 100%;
    height: auto;
    max-height: 30rem;
    margin: auto;
}

.wellness__homeServicesRight-img_tag {
    font-size: 0.5rem;
}

@keyframes slidein {
    from {
        transform: translate3d(0,5rem,0);
        opacity: 0;
    }
    10% {
        transform: translate3d(0,5rem,0);
        opacity: 0;
    }
    to {
        transform: translate3d(0,0,0);
    }
}

@media screen and (max-width: 850px) {
    .wellness__homeServicesRight-img {
        width: 30rem;
    }
    .wellness__homeServicesRight-img img {
        max-height: 18rem;
    }
}

@media screen and (max-width: 700px) {
    .wellness__homeServicesRight {
        flex-direction: column;
    }
    .wellness__homeServicesRight-text {
        width: 100%;
        margin: auto;
        padding-bottom: 1rem;
    }
    .wellness__homeServicesRight-img {
        width: 100%;
    }
    .wellness__homeServicesRight-img img {
        max-height: 19rem;
    }
}

@media screen and (max-width: 450px) {
    .wellness__homeServicesRight-img img {
        max-height: 17rem;
    }
    .wellness__homeServicesRight-text_subheading {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {
    .wellness__homeServicesRight {
        padding: 2rem 2rem;
    }
    .wellness__homeServicesRight-text h1 {
        font-size: 1.6rem;
    }
    .wellness__homeServicesRight-img img {
        max-height: 15rem;
    }
    .wellness__homeServicesRight-text_subheading {
        font-size: 1.1rem;
    }
}