.wellness__homepage {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.wellness__homepage-header {
    padding: 2rem 0;
}

.wellness__homepage-header h1 {
    font-family: var(--font-logo);
    font-size: 2.5rem;
}

.wellness__homepage-services {
    text-align: left;
    padding: 0 10rem;
}

.wellness__homepage-services h1 {
    text-decoration: underline;
}

.wellness__homepage-services p {
    color: black;
}

.wellness__homepage-services-sauna_body {
    display: flex;
    width: 100%;
}

.wellness__homepage-services-sauna_body-left {
    padding-right: 5rem;
}

.wellness__homepage-services-iv {
    padding-top: 2rem;
}

.wellness__homepage-services-iv_body-content {
    border: 0.15rem solid black;
    padding: 0.5rem;
    width: 70%;
}

.wellness__homepage-services-iv_body-content_header {
    display: flex;
    width: 100%;
}

.wellness__homepage-services-iv_body-content_header-left {
    width: 75%;
}

.wellness__homepage-services-iv_body-content_header-right {
    width: 25%;
    text-align: right;
}

.wellness__homepage-services-iv_body-content_footer-body {
    display: flex;
    width: 30rem;
}

.wellness__homepage-services-iv_body-content_footer-body_left {
    width: 50%;
}

.wellness__homepage-services-iv_body-content_footer-body_right {
    width: 50%;
}

.wellness__homepage-services-iv_footer {
    padding: 2rem 0;
}

.wellness__homepage-services-iv_footer-book {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.wellness__homepage-services-iv_footer-book a {
    border: var(--color-text) 0.2rem solid;
    padding: 0.5rem;
    color: var(--color-text);
    font-size: 1.5rem;
}

.wellness__homepage-services-iv_footer-book a:hover {
    background-color: #c8c8c8;
    border-color: black;
    color: black;
}

.wellness__homepage-services-labs {
    padding: 2rem 0;
}

@media screen and (max-width: 1000px) {
    .wellness__homepage-services {
        padding: 0 5rem;
    }
    .wellness__homepage-services-iv_body-content {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .wellness__homepage h1 {
        font-size: 1.5rem;
    }
    .wellness__homepage-services {
        padding: 0 2.5rem;
    }
    .wellness__homepage-services-sauna_body-left {
        padding-right: 0;
    }
}

@media screen and (max-width: 450px) {
    .wellness__homepage-services {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 400px) {
    .wellness__homepage-services {
        padding: 0 1rem;
    }
}